upstream backend {

{% for curr_apache_server in groups['apache_servers'] %}
   server {{ hostvars[curr_apache_server]["ansible_all_ipv4_addresses"][1] }}:80;
   {% endfor %}
}
# This server accepts all traffic to port 80 and passes it to the upstream.



server {

   listen 80;



   location / {

      proxy_pass http://backend;

   }

}
